body {
  margin: 0;
  overflow: hidden;
}

#game-container {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.character {
  width: 80px;
  height: 80px;
  background-size: cover;
  position: absolute;
}

#bonnie {
  background-image: url('bonnie.jpg');
}

#chica {
  background-image: url('chica.jpg');
}

#foxy {
  background-image: url('foxy.jpg');
}

#ezra {
  background-image: url('ezra.jpg');
}

#goldenEzra {
  background-image: url('golden-ezra.jpg');
}
